# Python cache files
__pycache__
*.pyc
venv

# any config files
config.yaml

# MacOS config file
.DS_Store

# API key files
api_keys.py

# env files
*.env
contracts/latestEnvironment.json

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

**/target/
node_modules
.idea

# Ignore stored SVM keypairs
keypairs/*.json
