exclude: "^sdk/rust/abi/.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: package-lock.json
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for workspace
      - id: cargo-fmt-workspace
        name: Cargo format for workspace
        language: "rust"
        entry: cargo +nightly-2024-12-03 fmt --manifest-path ./Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: .
      - id: cargo-clippy-workspace
        name: Cargo clippy for workspace
        language: "rust"
        entry: cargo +stable clippy --manifest-path ./Cargo.toml --tests -- -D warnings
        pass_filenames: false
        files: .
      # Hooks for vault-simulator
      - id: cargo-fmt-vault-simulator
        name: Cargo format for vault simulator
        language: "rust"
        entry: cargo fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: vault-simulator
      - id: cargo-clippy-vault-simulator
        name: Cargo clippy for vault simulator
        language: "rust"
        entry: cargo clippy --manifest-path ./vault-simulator/Cargo.toml --tests -- -D warnings
        pass_filenames: false
        files: vault-simulator
      # Hooks for contracts-svm
      - id: cargo-fmt-contracts-svm
        name: Cargo format for svm contracts
        language: "rust"
        entry: cargo +nightly-2024-12-03 fmt --manifest-path ./contracts/svm/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: contracts/svm
      - id: cargo-clippy-contracts-svm
        name: Cargo clippy for svm contracts
        language: "rust"
        entry: cargo +stable clippy --manifest-path ./contracts/svm/Cargo.toml --tests -- -D warnings
        pass_filenames: false
        files: contracts/svm
      # EsLint hooks
      - id: eslint
        name: eslint
        entry: pnpm -r lint
        pass_filenames: false
        language: system
        files: .
      # For python files
      - id: isort
        name: isort
        entry: poetry -C per_sdk run isort --profile=black per_sdk
        pass_filenames: false
        language: system
      - id: black
        name: black
        entry: poetry -C per_sdk run black per_sdk
        pass_filenames: false
        language: system
      - id: pyflakes
        name: pyflakes
        entry: poetry -C per_sdk run pyflakes per_sdk
        pass_filenames: false
        language: system
