[workspace]
resolver = "2"

members = [
    "auction-server",
    "gas-oracle",
    "sdk/rust",
]
exclude = ["vault-simulator", "contracts/svm"]

[workspace.dependencies]
time = "0.3.36"
base64 = "0.22.1"
bincode = "1.3.3"
utoipa = "4.2.3"
uuid = "1.1.2"
serde = "1.0"
serde_json = "1.0"
serde_with = "3.9.0"
ethers = "2.0.14"
solana-sdk = "2.0.13"
solana-rpc-client = "2.0.13"
solana-transaction-status = "2.0.13"
solana-client = "2.0.13"

# The curve25519-dalek crate is a dependency of solana-sdk.
# This crate relies on a specific version of zeroize that is incompatible with many other packages.
# You can find more details in this issue https://github.com/solana-labs/solana/issues/26688
# Solana Labs has provided a solution for some of these package incompatibilities, which can be found here https://github.com/solana-labs/solana/blob/27eff8408b7223bb3c4ab70523f8a8dca3ca6645/Cargo.toml#L514
[patch.crates-io.curve25519-dalek]
git = "https://github.com/solana-labs/curve25519-dalek.git"
rev = "b500cdc2a920cd5bff9e2dd974d7b97349d61464"
