[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
express_relay = "AJ9QckBqWJdz5RAxpMi2P83q6R7y5xZ2yFxCAYr3bg3N"
ez_lend = "3Gz8dhzokRoE5r9b5oyvrBqceAo9zxzVrgRzQdc6WTTm"
ez_lend_vanilla = "AwBnwAgYZoGjZ1L1ADQ2uYBLg5uTUPwHKYCFt9peGWWC"
klend = "3hoVgJh7XrZWyfTULgR8KkdS7PYgxhZnSbCsWGtYGgdb"
opportunity_adapter = "Gn4yXmex2gAWUHJcFHy6iUkwPurka6uJMGPfzeZbKFFD"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/*.ts"
