name: Pre-commit checks

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Need to grab the history of the PR
          fetch-depth: 0
      - uses: ./.github/actions/python-poetry
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-03-01
          components: rustfmt, clippy
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-07-23
          components: rustfmt, clippy
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1.1.1
        with:
          version: nightly
      - name: Install npm dependencies
        working-directory: per_multicall
        run: npm install
      - name: Install forge dependencies 1
        working-directory: per_multicall
        run: forge install foundry-rs/forge-std@v1.8.0 --no-git --no-commit
      - name: Install forge dependencies 2
        working-directory: per_multicall
        run: forge install OpenZeppelin/openzeppelin-contracts@v4.8.1 --no-git --no-commit
      - name: Install forge dependencies 3
        working-directory: per_multicall
        run: forge install OpenZeppelin/openzeppelin-contracts-upgradeable@v4.8.1 --no-git --no-commit
      - uses: pre-commit/action@v3.0.0
        if: ${{ github.event_name == 'pull_request' }}
        with:
          # Run only on files changed in the PR
          extra_args: --from-ref ${{ github.event.pull_request.base.sha }} --to-ref ${{ github.event.pull_request.head.sha }}
      - uses: pre-commit/action@v3.0.0
        if: ${{ github.event_name != 'pull_request' }}
