name: Pre-commit checks

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Need to grab the history of the PR
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          registry-url: "https://registry.npmjs.org"
      - uses: ./.github/actions/python-poetry
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.83.0
          components: clippy
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2024-12-03
          components: rustfmt
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "28.x"
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1.1.1
        with:
          version: nightly-3ba3d5f9e6008779c68b94ef9a0015ca2fe60b6a
      - name: Install evm contracts npm dependencies
        working-directory: contracts/evm
        run: npm ci
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: true
      - name: Install forge dependencies 1
        working-directory: contracts/evm
        run: forge install foundry-rs/forge-std@v1.8.0 --no-git --no-commit
      - name: Install forge dependencies 2
        working-directory: contracts/evm
        run: forge install OpenZeppelin/openzeppelin-contracts@v5.0.2 --no-git --no-commit
      - name: Install forge dependencies 3
        working-directory: contracts/evm
        run: forge install OpenZeppelin/openzeppelin-contracts-upgradeable@v4.9.6 --no-git --no-commit
      - name: Install forge dependencies 4
        working-directory: contracts/evm
        run: forge install Uniswap/permit2@0x000000000022D473030F116dDEE9F6B43aC78BA3 --no-git --no-commit
      - name: Install forge dependencies 5
        working-directory: contracts/evm
        run: forge install nomad-xyz/ExcessivelySafeCall@be417ab0c26233578b8d8f3a37b87bd1fcb4e286 --no-git --no-commit
      - name: Install Anchor CLI
        run: npm install -g @coral-xyz/anchor-cli@v0.31.0
      - uses: pre-commit/action@v3.0.0
        if: ${{ github.event_name == 'pull_request' }}
        with:
          # Run only on files changed in the PR
          extra_args: --from-ref ${{ github.event.pull_request.base.sha }} --to-ref ${{ github.event.pull_request.head.sha }}
      - uses: pre-commit/action@v3.0.0
        if: ${{ github.event_name != 'pull_request' }}
