name: Publish Express Relay Client to crates.io

on:
  push:
    tags:
      - rust-express-relay-client-v*
jobs:
  publish-express-relay-client:
    name: Publish Express Relay Client
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - run: cargo publish -p express-relay-client --token ${CARGO_REGISTRY_TOKEN}
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.PYTH_NETWORK_PYTH_OPS_CARGO_PUSH }}
